.periodic{
    padding-block: 100px;
}
.periodic__table {
    display: grid;
    grid-template-columns: repeat(18, 64px);
    grid-template-rows: repeat(10, 64px);
    grid-gap: 4px;
  }

  .flex__group{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-block-end: 20px;
  }

  .search__list{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-inline-start: 0px;
  }

  .search__title{
    text-align: center;
    margin-block-end: 20px;
  }

  .search__btn{
    width: 100%;
    padding-block: 12px;
    font-size: 20px;
    background-color: transparent;
    border-radius: 10px;
    cursor: pointer;
  }

  .search__box{
    max-width: 400px;
    border-radius: 10px;
    flex-grow: 1;
    padding: 20px;
    border: 1px solid #aaa;
    box-shadow: 0 1px 1px rgba(0,0,0,0.15), 
    0 2px 2px rgba(0,0,0,0.15), 
    0 4px 4px rgba(0,0,0,0.15), 
    0 8px 8px rgba(0,0,0,0.15);
  }

  .description__block{
    flex-grow: 1;
    padding: 20px;
    max-width: 400px;
    height: 430px;
    margin-block-end: 20px;
    border: 1px solid #aaa;
    box-shadow: 0 1px 1px rgba(0,0,0,0.15), 
    0 2px 2px rgba(0,0,0,0.15), 
    0 4px 4px rgba(0,0,0,0.15), 
    0 8px 8px rgba(0,0,0,0.15);
    transition: all 300ms ease-in-out;
    border-radius: 10px;
  }

  .description__wrapper{
    padding: 20px;
    max-width: 400px;
    transition: all 300ms ease-in-out;
    position: relative;
  }

  .modal__btn{
    position: absolute;
    right: 0;
    top: 0;
    background-color: transparent;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 20px;
    color: #ffc300;
    border: 1px solid black;
  }

  
  .element {
    background: white;
    cursor: pointer;
    border: 1px solid #aaa;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.15), 
    0 2px 2px rgba(0,0,0,0.15), 
    0 4px 4px rgba(0,0,0,0.15), 
    0 8px 8px rgba(0,0,0,0.15);
    transition: all 300ms ease-in-out;
  }
  
  .element:hover {
    transform: scale(1.25, 1.25);
    box-shadow: 0 1px 1px rgba(0,0,0,0.11), 
    0 2px 2px rgba(0,0,0,0.11), 
    0 4px 4px rgba(0,0,0,0.11), 
    0 8px 8px rgba(0,0,0,0.11), 
    0 16px 16px rgba(0,0,0,0.11), 
    0 32px 32px rgba(0,0,0,0.11);
    z-index: 1;
  }
  
  .element .number {
    font-size: 8px;
    position: absolute;
    top: 5px;
    left: 5px;
  }
  
  .element .name {
    font-size: 8px;
    position: absolute;
    bottom: 5px;
    left: 5px;
  }

  .highlightGasElement{
    background-color: #e63946;
    color: white;
  }

  .highlightSolidElement{
    background-color: #03045e;
    color: white;
  }

  .highlightLiquidElement{
    background-color: #ffb703;
    color: #001d3d;
  }

  .modul__text{
    font-size: 20px;
  }

  .modul__text::first-letter{
    color: #e63946;
    font-size: 35px;
  }

  .symbol__box{
    color: hsl(356, 83%, 41%);
    position: absolute;
    left: -78px;
    top: -80px;
    background-color: hsl(0, 0%, 100%, .1);
    width: 100px;
    height: 100px;
    display: grid;
    place-items: center;
    padding: 20px;
    border: 1px solid #aaa;
    box-shadow: 0 1px 1px rgba(0,0,0,0.15), 
    0 2px 2px rgba(0,0,0,0.15), 
    0 4px 4px rgba(0,0,0,0.15), 
    0 8px 8px rgba(0,0,0,0.15);
    border-radius: 10px;
    backdrop-filter: blur(10px);
  }

  .symbol{
    font-size: 40px;
  }

  .graph{
    width: max-content;
    border-top: 3px solid black;
    display: grid;
    grid-template-columns: repeat(18, 64px);
    grid-gap: 4px;
    margin-block-end: 30px;
  }

  .tabel__box{
    display: flex;
    position: relative;
    left: -63px;
  }
  .graph__col{
    padding-inline-start: 20px;
    height: max-content;
    border-left: 3px solid black;
    display: grid;
    grid-template-rows: repeat(7, 64px);
    grid-gap: 4px;
  }

  .reng__col{
    display: grid;
    place-items: center;
  }
  .reng{
    display: grid;
    place-items: center;
}

.reng__col span{
  margin-inline-end: 10px;
  display: grid;
  place-items: center;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: 2px solid #ffb3c6;
  position: relative;
}

.reng span{
    margin-block-start: 10px;
    display: grid;
    place-items: center;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border: 2px solid #adc178;
    position: relative;
}

.reng__col span::before{
  content: "";
  display: block;
  width:21px;
  height: 2px;
  background-color: black;
  position: absolute;
  top: 12px;
  left: -23px;
}

.reng span::before{
    content: "";
    display: block;
    width: 2px;
    height: 15px;
    background-color: black;
    position: absolute;
    top: -15px;
}